.login-card {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 700px; 

    border: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.788);
    
    margin-left: 22%;
    margin-top: 8%;
}

h3 {
    font-size: 3.2em;
    line-height: 1.1;
}

.login-input {
    margin-bottom: 5px;
}

.login-button {
    margin-top: 20px;
}